<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #9b7653;">
  <div class="container-fluid">
    <img src="./assets/seedling.png" style="height: 50px;"/>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Plants</a>
      </li>
    </ul>
    <button class="d-flex w-auto add-plant" type="button">
      Add Plant
    </button>
  </div>
</nav>
